<link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
<img src="{{ asset('images/logo.png') }}" style="width: 100px; float: left;" />
<span style="color: #320070; font-size: 12px; margin-left: 24px;">Generated on {{ "now"|date('m/d/Y H:i:s') }}</span>
<span style="color: #320070; font-size: 12px; margin-left: 230px;">© 2017 - Saint-Cyr MAPOUKA</span>
<hr>
<img src="{{ asset('upload/product/'~product.image) }}" style="width: 100px; height: 150px; margin-left: 173px; margin-bottom: 0px;" />    
<h3 style="margin-left: 265px; color: #5e388f; "> {{ product.name }} </h3>

{% for i in 0..32 %}
    {% if i % 3 == 0 %}
        <hr>
    {% endif %}
    <img src="{{ asset('barcode/'~barecode~'.png') }}"  />
{% endfor %}
<hr>

