<link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
<img src="{{ asset('images/logo.png') }}" style="width: 100px; float: left;" />
<span style="color: #320070; font-size: 12px; margin-left: 24px;">Generated on {{ "now"|date('m/d/Y H:i:s') }}</span>
<span style="color: #320070; font-size: 12px; margin-left: 230px;">© 2017 - Saint-Cyr MAPOUKA</span>
<hr>
<img src="{{ asset('image/logo.png') }}" style="width: 100px; height: 150px; margin-left: 173px; margin-bottom: 0px;" />    
<h3 style="margin-left: 265px; color: #5e388f; "> BeezyManager </h3>
<table style="width 100%">
{% for p in products %}
        
    {% if loop % 3 == 0 %}
        <br>
    {% endif %}
    {{ p.name }}
    <img src="{{ asset('barcode/'~p.barcode~'.png') }}"  />
{% endfor %}
</table>
<hr>


