<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BeezyManager</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    
    <!-- Custom styling plus plugins -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
          {% if(is_granted('ROLE_SUPER_ADMIN')) %}
          {% include 'admin/sidebar_vendor.html.twig' %}
          {% endif %}
          {% include 'admin/topnav.html.twig' %}

        

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Sale transaction Report <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="col-xs-12 invoice-header">
                          
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row">
                        <div class="col-xs-12 table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Qty</th>
                                <th>Product</th>
                                <th>Sale (FCFA)</th>
                                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
                                <th>Profit (FCFA)</th>
                                {% endif %}
                                <th>Transaction ID#</th>
                                <!--<th style="width: 59%">Description</th>-->
                              </tr>
                            </thead>
                            <tbody>
                              
                              {% for st in saleTransactions %}
                               {% for sale in st.sales %}
                               <tr>
                                <td>{{ sale.quantity }}</td>
                                <td>{{ sale.product }}</td>
                                <td>{{ sale.amount }}</td>
                                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
                                <td>{{ sale.profit }}</td>
                                {% endif %}
                                <td>{{ sale.stransaction.id }}</td>
                              </tr>
                              {% endfor %}
                                  {% endfor %}
                              
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">
                        <!-- accepted payments column -->
                       
                        <!-- /.col -->
                        <div class="col-xs-6">
                          <p class="lead">Resume</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody style="font-size: 15px; color: black;">
                                <tr>
                                  <th>Total Sale (FCFA):</th>
                                  <td>{{ totalSaleAmount }}</td>
                                </tr>
                                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
                                <tr>
                                  <th>Total Profit (FCFA):</th>
                                  <td style="font-size: 15px; color: green;">{{ totalProfit }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                  <th>Transaction number:</th>
                                  <td style="font-size: 15px; color:black;">{{ saleTransactions|length }}</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- this row will not appear when printing -->
                      
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
  </body>
</html>