<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BeezyManager</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'admin/sidebar_vendor.html.twig' %}
        {% include 'admin/topnav.html.twig' %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">

              <!--<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Report A (General) <small>From: 23/01/16 To: 30/01/2017</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Photo 4x4 </th>
                            <th class="column-title">Internet</th>
                            <th class="column-title">Impression</th>
                            <th class="column-title">Photocopy</th>
                            <th class="column-title">Photocopy couleur</th>
                            <th class="column-title">Plastification</th>
                            <th class="column-title">Scan</th>
                            <th class="column-title">Telephone </th>
                            <th class="column-title">Saisie </th>
                            <th class="column-title">Autre </th>
                            
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">25000</td>
                            <td class=" ">135000</td>
                            <td class=" ">82000</td>
                            <td class=" ">64750</td>
                            <td class=" ">13800</td>
                            <td class=" ">11400</td>
                            <td class=" ">22350</td>
                            <td class=" ">33780</td>
                            <td class=" ">36700</td>
                            <td class="a-right a-right ">189900</td>
                            
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                      <h2>Report A (General) <small>From:<b> {{ initDate|date('d-m-Y') }}</b> To: <b>{{ finitDate|date('d-m-Y') }}</b></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Product / Service </th>
                            <th class="column-title">Sale (FCFA)</th>
                            <th class="column-title">Profit  (FCFA)</th>
                            
                            
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for result in results.E2 %}
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            
                            <td class=" ">{{ result.name }}</td>
                            <td class=" ">{{ result.flyAmount }}</td>
                            <td class=" ">{{ result.flyProfit }}</td>
                            
                            
                          </tr>
                          
                        {% endfor %}
                        <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            
                            <td class=" ">{{ results.E2_LABEL }}</td>
                            <td class=" ">{{ results.E1_SALE }}</td>
                            <td class=" ">{{ results.E1_PROFIT }}</td>
                            
                            
                          </tr>
                        </tbody>
                        
                      </table>
                      <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-cart-plus text-success"></i> Sale : <strong> {{ results.E1_SALE  + results.E2_SALE }}</strong></li>
                                    <li><i class="fa fa-line-chart text-success"></i> Profit : <strong> {{ results.E1_PROFIT  + results.E2_PROFIT }}</strong></li>
                                    <!--<li><i class="fa fa-sort-amount-desc text-danger"></i> Expenditure : <strong> 47500</strong></li>-->
                                  </ul>
                                </div>
                              </div>
                              
                            </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                          
                          <!--<div class="pricing">
                            <div class="title" style="background-color: #5e388f; height: 50px;">
                              
                              <h3>Summary</h3>
                            </div>-->
                            
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
  </body>
</html>