<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>POS1</title>
  <!--<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
  <script data-require="jquery@*" data-semver="2.0.3" src="{{ asset('vendor/jquery-3.1.0.min.js') }}"></script>

  <!--<script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>-->
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="{{ asset('vendor/angular-1.2.13/angular.js') }}"></script>
  <!--<script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>-->
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="{{ asset('vendor/angular-1.2.13/angular-animate.js') }}"></script>

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ asset('vendor/bootstrap.min.css') }}">
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
<script src="{{ asset('vendor/bootstrap.min.js') }}"></script>

  <link rel="stylesheet" href="{{ asset('style.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
  <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
  <script>
      // Code goes here

var app = angular.module('myApp', []);

app.controller('POSController', function ($scope, $http)
{
    $scope.fileName = 'KINGMANAGER/web/1.jpg';
    $scope.focusImage = '';
    
    var data = {
        {% for p in products %}
            {% for stock in app.user.branch.stocks %}
                        {% if stock.product.id == p.id %}
                            "{{ p.barcode }}" : {count: 1, detail: "{{ p.name|slice(0, 24)|e('js')|raw }}", id: {{ p.id }}, price: {{ p.unitPrice }} },
                        {% endif %}
            {% endfor %} 
      {% endfor %}
  };
    
    $scope.itemsCnt = 1;
    $scope.order = [];
    $scope.isDisabled = true;

    function isEmpty(obj) {
        return Object.keys(obj).length === 0;
    }
    
  //$scope.barcode = 6588969543172554;
  $scope.$watch("barcode", function(newValue, oldValue) {
    if (newValue)
      addSale(newValue);
  });
  
  function addSale(barcode) {
    var item = data[barcode];
    
    var foodItem = {
        orderedItemCnt: 1,
        totalPrice: item.price,
        detail: item.detail,
        itemId: item.id,
        id: $scope.itemsCnt,
        item: item,
    };
    
    //By S@int-Cyr
    $scope.fileName = item.fileName;
    $scope.barcode = '';
    console.log(foodItem);
    
    
    // Find if the item is already in Cart
        var cartItems = $.grep($scope.order, function(e){ return e.itemId == item.id; });

         if(cartItems.length > 0  && !isEmpty($scope.order)){
            cartItems[0].orderedItemCnt = ++ cartItems[0].orderedItemCnt; 
            cartItems[0].totalPrice = item.price * cartItems[0].orderedItemCnt;
         }
         else{
            $scope.order.push(foodItem);
            $scope.itemsCnt = $scope.order.length; 
         }
  }
    
    $scope.getSum = function() {
      var i = 0,
        sum = 0;

      for(; i < $scope.order.length; i++) {
        sum += parseInt($scope.order[i].totalPrice, 10);
      }
      return sum;
    };

    $scope.addItem = function(item, index) {
          item.orderedItemCnt = ++ item.orderedItemCnt; 
          item.totalPrice = item.item.price * item.orderedItemCnt;
    };


    $scope.subtractItem = function(item, $index)
    {
      if (item.orderedItemCnt > 1) {
          item.orderedItemCnt = -- item.orderedItemCnt; 
          item.totalPrice = item.item.price * item.orderedItemCnt;
      }
      else{
          $scope.isDisabled = true;
          // isDisabled = false;    
         // $("#SubstractItemBtn").prop("disabled", true);
      }
    }

    $scope.deleteItem = function(index) {
      $scope.order.splice(index, 1);
    };
    
    $scope.checkout = function(index) {
      //S@int-Cyr edition start here
      //Data to be sent to the server (order[])
      var data = {"data":{
          'id': 1,
          'order': $scope.order,
          'total': $scope.getSum(),
    }};
      
      //Data containing the response from the server
      var outPut = $http.post('http://localhost/BeezyManager/web/sales/transactions', data);
      //When successfull response comes from the server
      outPut.success(function(data, status, headers, config){
          alert(data);
          //alert( "successfull message: " + JSON.stringify({data: data}));
          //alert("Order total: $" + $scope.getSum() + "\n\nPayment received. Thanks. cache: " + $scope.cacheAmount + "change: " + $scope.getChange());
          $scope.order = [];
          
      });
      
      outPut.error(function(data, status, header, config){
          alert('an error occur: cannot perform the transaction');
      });
      //S@int-Cyr edition end here
      
      //alert("Order total: $" + $scope.getSum() + "\n\nPayment received. Thanks. cache: " + $scope.cacheAmount + "change: " + $scope.getChange());
      //$scope.order = [];
    };
    
    $scope.clearOrder = function() {
      $scope.order = [];
      
    };
    
    $scope.getChange = function(){
        if($scope.getSum()){
            var change = 0;
            change = $scope.cacheAmount - $scope.getSum();
            return change;
        }
    }
    
    $scope.focused = function(){
        $scope.focusImage = 'fa-spin';
    }
    
    $scope.blurred = function(){
        $scope.focusImage = 'no-access.png';
    }
});

//Script for the alert box
    var ALERT_TITLE = "Beezy Manager";
    var ALERT_BUTTON_TEXT = "Ok";

    if(document.getElementById) {
        window.alert = function(txt) {
            createCustomAlert(txt);
        }
    }

    function createCustomAlert(txt) {
        d = document;

        if(d.getElementById("modalContainer")) return;

        mObj = d.getElementsByTagName("body")[0].appendChild(d.createElement("div"));
        mObj.id = "modalContainer";
        mObj.style.height = d.documentElement.scrollHeight + "px";

        alertObj = mObj.appendChild(d.createElement("div"));
        alertObj.id = "alertBox";
        if(d.all && !window.opera) alertObj.style.top = document.documentElement.scrollTop + "px";
        alertObj.style.left = (d.documentElement.scrollWidth - alertObj.offsetWidth)/2 + "px";
        alertObj.style.visiblity="visible";

        h1 = alertObj.appendChild(d.createElement("h1"));
        h1.appendChild(d.createTextNode(ALERT_TITLE));

        msg = alertObj.appendChild(d.createElement("p"));
        //msg.appendChild(d.createTextNode(txt));
        msg.innerHTML = txt;

        btn = alertObj.appendChild(d.createElement("a"));
        btn.id = "closeBtn";
        btn.appendChild(d.createTextNode(ALERT_BUTTON_TEXT));
        btn.href = "#";
        btn.focus();
        btn.onclick = function() { removeCustomAlert();return false; }

        alertObj.style.display = "block";

    }

    function removeCustomAlert() {
        document.getElementsByTagName("body")[0].removeChild(document.getElementById("modalContainer"));
    }
  </script>
  
  <style>
    #modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
    }

    #alertBox {
        position:relative;
        width:300px;
        min-height:100px;
        margin-top:50px;
        border:1px solid #666;
        background-color:#fff;
        background-repeat:no-repeat;
        background-position:20px 30px;
    }

    #modalContainer > #alertBox {
        position:fixed;
    }

    #alertBox h1 {
        margin:0;
        font:bold 0.9em verdana,arial;
        background-color:#5e388f;
        color:#FFF;
        border-bottom:1px solid #000;
        padding:2px 0 2px 5px;
    }

    #alertBox p {
        font:0.7em verdana,arial;
        height:50px;
        padding-left:50px;
        margin-left: auto;
        margin-top: 20px;
        font-size: 18px;
    }

    #alertBox #closeBtn {
        display:block;
        position:relative;
        margin:5px auto;
        padding:7px;
        border:0 none;
        width:70px;
        font:0.7em verdana,arial;
        text-transform:uppercase;
        text-align:center;
        color:#FFF;
        background-color:#5e388f;
        border-radius: 3px;
        text-decoration:none;
    }

    /* unrelated styles */

    #mContainer {
        position:relative;
        width:600px;
        margin:auto;
        padding:5px;
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        font:0.7em verdana,arial;
    }

    h1,h2 {
        margin:0;
        padding:4px;
        font:bold 1.5em verdana;
        border-bottom:1px solid #000;
    }

    code {
        font-size:1.2em;
        color:#069;
    }

    #credits {
        position:relative;
        margin:25px auto 0px auto;
        width:350px; 
        font:0.7em verdana;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        height:90px;
        padding-top:4px;
    }

    #credits img {
        float:left;
        margin:5px 10px 5px 0px;
        border:1px solid #000000;
        width:80px;
        height:79px;
    }

    .important {
        background-color:#F5FCC8;
        padding:2px;
    }

    code span {
        color:green;
    }
  </style>
</head>



<body data-ng-controller="POSController">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-6">
        {% verbatim %}
        <hr>
        <div class="jumbotron" style="margin-top: 21px;">
            <span style="font-size: 120px; color: red;">{{getSum() | currency:' ':true:'1.2-2'}}</span>
        </div>
        <div class="jumboron">
        <div class="row">
            <form name="itemForm">
                  <input type="password" name="barcode"  style="opacity: 0;" id="barcodeId"
                    ng-model="barcode" ng-model-options="{ debounce: 500 }" autofocus="true" ng-focus="focused()" ng-blur="blurred()"/>
            <br/>
            </form>

            <div class="col-sm-6" onclick="document.getElementById('barcodeId').focus(); document.getElementById('barcodeId').value = ''; return false;">
                  <span ng-model="focusImage">
                      <i class="fa fa-cog {{ focusImage }} fa-5x fa-fw" aria-hidden="true"></i>
                  </span>
        {% endverbatim %}
                <a href="" ><img src="{{ asset('barecode.jpg') }}" width="125" for="barcodeId"/></a>
            </div>
                {% verbatim %}
            <div class="col-sm-6">
                
                
            </div>
        </div>
        </div>
      </div>
      <br>
      <div class="col-md-6">
        <style>
            .panel > .panel-heading {
                background-color: #5e388f;
            }
        </style>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Order Summary</h3>
              
            </div>
            <div class="panel-body" style="max-height:320px; overflow:auto;">
              <div class="text-warning" ng-hide="order.length">
                  {% endverbatim %}
                <img src="{{ asset('images/logo.png') }}" style="margin-left:150px;" width="150"/>
                {% verbatim %}
              </div>
              
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in order">
                    <span style="font-size: 23px;">{{item.detail}}</span>
                  
                  <div class="btn-group pull-right" role="group" aria-label="...">
                      <button type="button" class="btn btn-xs " ng-disabled="" ng-click="subtractItem(item, $index)">
                        <span type="button" class="fa fa-minus"></span>
                      </button>
                      <button type="button" class="btn  btn-xs" ng-click="addItem(item, $index)">
                        <span class="fa fa-plus"></span>
                      </button>
                      
                       <button type="button" class="btn btn-danger btn-xs"  ng-click="deleteItem($index)">
                        <span class="fa fa-trash-o"></span>
                      </button>                     
                  </div>
                  <div class="label label-success pull-right">{{item.totalPrice | currency:'FCFA ':true:'1.2-2'}}</div>
                  <div class="label label-default pull-right">{{item.orderedItemCnt}}</div>
                </li>
              </ul>

            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="label label-danger ">Total: {{getSum() | currency:'FCFA ':true:'1.2-2'}}</div>
            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="text-muted">
                Do not let go of customer without taking payment !
              </div>
            </div>
            <div class="pull-right">
                <br>
                
                <div class="input-group col-md-6">
                    <span class="input-group-addon">
                        <i class="fa fa-dolla" aria-hidden="true"></i>
                    </span>
                    <input class="form-control" type="text" placeholder="Cache amount (FCFA)" ng-model="cacheAmount" ng-disabled="!order.length">
                    
                </div>
            
                <div class="inline-group col-md-6">
                    <span class="btn btn-default" style="color: green;" ng-disabled="!order.length" ng-click="getChange()">{{getChange() | currency:'':true:'1.2-2'}}</span>
                    <span class="btn btn-default" ng-click="clearOrder()" ng-disabled="!order.length">Clear</span>
                    <span class="btn btn-danger" ng-click="checkout()" ng-disabled="!order.length">Checkout</span>
                </div>
              
            </div>

          </div>
        
      </div>
    </div>
     {% endverbatim %}
      <!--<i class="fa fa-wifi fa-2x fa-fw" aria-hidden="true"></i>-->
      <!--<img src="yellow3.gif" width="20"/>
      <img src="off.gif" width="20"/>-->
      <br><br>
      
      <!--<img src="green.gif" width="20"/>-->
      <div class="col-md-12 control">
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                <div style="float:left; font-size: 120%; position: relative; top:-10px"> 
                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true" style="color: #320070;"></i></a>   
                    <a href="{{ path('transaction_pos2') }}"><i class="fa fa-bars" aria-hidden="true" style="color: #320070; margin-left: 6px;"></i></a>  
                    <a href="#"><i class="fa fa-question-circle" aria-hidden="true" style="color: #320070; margin-left: 6px;"></i></a>
                    <img src="{{ asset('SR_Blink.gif') }}" width="20" style="margin-left:500px;"/>
                </div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    <a href="#" style="color: #320070;">© 2017 - Saint-Cyr MAPOUKA</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
