<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Point of Sale Interface</title>
  <!--<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
  <script data-require="jquery@*" data-semver="2.0.3" src="{{ asset('vendor/jquery-3.1.0.min.js') }}"></script>
  
  <!---<script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>-->
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="{{ asset('vendor/angular-1.2.13/angular.js') }}"></script>
  <!--<script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>-->
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="{{ asset('vendor/angular-1.2.13/angular-animate.js') }}"></script>

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ asset('vendor/bootstrap.min.css') }}">
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
<script src="{{ asset('vendor/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
<link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />

  <link rel="stylesheet" href="{{ asset('style.css') }}" />
  <script>
      // Code goes here
var app = angular.module('myApp', []);

app.controller('POSController', function ($scope, $http) {
    $scope.food = {
      {% for p in products %}
            {{ p.id }} : {count: 1, id: {{ p.id }}, detail: "{{ p }}", price: {{ p.unitPrice }} },  
      {% endfor %}
    };
    
    
    $scope.itemsCnt = 1;
    $scope.order = [];
    $scope.isDisabled = true;

function isEmpty(obj) {
    return Object.keys(obj).length === 0;
}

    $scope.add = function(item) {

      $scope.orderedItemCnt = 1;
      var foodItem = {
        orderedItemCnt : 1,
        totalPrice : item.price,
        itemId : item.id, 
        id : $scope.itemsCnt,
        item : item
      };

        // Find if the item is already in Cart
        var cartItems = $.grep($scope.order, function(e){ return e.itemId == item.id; });

         if(cartItems.length > 0  && !isEmpty($scope.order)){
            cartItems[0].orderedItemCnt = ++ cartItems[0].orderedItemCnt; 
            cartItems[0].totalPrice = item.price * cartItems[0].orderedItemCnt;
         }
         else{
            $scope.order.push(foodItem);
            $scope.itemsCnt = $scope.order.length; 
         }
    };
    
    $scope.getSum = function() {
      var i = 0,
        sum = 0;

      for(; i < $scope.order.length; i++) {
        sum += parseInt($scope.order[i].totalPrice, 10);
      }
      return sum;
    };

    $scope.addItem = function(item, index) {         
          item.orderedItemCnt = ++ item.orderedItemCnt; 
          item.totalPrice = item.item.price * item.orderedItemCnt;
    };


    $scope.subtractItem = function(item, $index)
    {
      if (item.orderedItemCnt > 1) {
          item.orderedItemCnt = -- item.orderedItemCnt; 
          item.totalPrice = item.item.price * item.orderedItemCnt;
      }
      else{
          $scope.isDisabled = true;
          // isDisabled = false;    
         // $("#SubstractItemBtn").prop("disabled", true);
      }
    }

    $scope.deleteItem = function(index) {
      $scope.order.splice(index, 1);
    };
    
    /*$scope.checkout = function(index) {
      alert("Order total: $" + $scope.getSum() + "\n\nPayment received. Thanks.");
    };*/
    
    $scope.checkout = function(index) {
      //S@int-Cyr edition start here
      //Data to be sent to the server (order[])
      var data = {
          'id': 1,
          'order': $scope.order,
          'total': $scope.getSum(),
      };
      
      //Data containing the response from the server
      var outPut = $http.post('http://localhost/BeezyManager/web/app_dev.php/sale', data);
      
      //alert( "successfull message: " + JSON.stringify({data: data}));
      //When successfull response comes from the server
      outPut.success(function(data, status, headers, config){
          alert(data);
          //alert( "successfull message: " + JSON.stringify({data: data}));
          //alert("Order total: $" + $scope.getSum() + "\n\nPayment received. Thanks. cache: " + $scope.cacheAmount + "change: " + $scope.getChange());
          $scope.order = [];
      });
      
      outPut.error(function(data, status, header, config){
          alert('an error occur: cannot perform the transaction');
      });
      //S@int-Cyr edition end here
      
      //alert("Order total: $" + $scope.getSum() + "\n\nPayment received. Thanks. cache: " + $scope.cacheAmount + "change: " + $scope.getChange());
      //$scope.order = [];
    };
    
    $scope.clearOrder = function() {
      $scope.order = [];
    };
});

  </script>
</head>
<body data-ng-controller="POSController">
  <div class="container">
      <br>
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        
        {% for category in categories %}
          <div class="box">
            <div class="text-info">{{ category.name }}</div>
            <style>
                .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
                    background-color: #5e388f !important;
                }
            </style>
            <hr>
                {% for p in category.products %}
                    <button class="buttons btn btn-primary" ng-click="add(food.{{ p.id }})">{{ p.name }}</button>
                {% endfor %}
          </div>
          <br></br>
          {% endfor %}
          {% verbatim %}
        
          {% endverbatim %}
          <a href="{{ path('transaction_pos_barcode') }}"><img src="{{ asset('barecode.jpg') }}" width="50" for="barcodeId"/></a>
          {% verbatim %}
      </div>
      <div class="col-sm-6">
        
        <style>
            .panel > .panel-heading {
                background-color: #5e388f;
            }
        </style>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Order Summary</h3>
            </div>
            <div class="panel-body" style="max-height:320px; overflow:auto;">
              <div class="text-warning" ng-hide="order.length">
                {% endverbatim %}
                <img src="{{ asset('images/logo.png') }}" style="margin-left:150px;" width="150"/>
                {% verbatim %}
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in order">
                  <span> {{item.item.detail}}</span>

                  <div class="btn-group pull-right" role="group" aria-label="...">
                      <button type="button" class="btn btn-xs " ng-disabled="" ng-click="subtractItem(item, $index)">
                        <span type="button" class="fa fa-minus"></span>
                      </button>
                      <button type="button" class="btn  btn-xs" ng-click="addItem(item, $index)">
                        <span class="fa fa-plus"></span>
                      </button>
                       <button type="button" class="btn btn-danger btn-xs"  ng-click="deleteItem($index)">
                        <span class="fa fa-trash-o"></span>
                      </button>                     
                  </div>
                  <div class="label label-success pull-right">{{item.totalPrice}}</div>
                  <div class="label label-default pull-right">{{item.orderedItemCnt}}</div>

                </li>
              </ul>
                  
            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="label label-danger ">Total: FCFA {{getSum()}}</div>
            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="text-muted">
                Do not let go of customer without taking payment !
              </div>
            </div>
            
            <div class="pull-right">
              <span class="btn btn-default" ng-click="clearOrder()" ng-disabled="!order.length">Clear</span>
              <span class="btn btn-danger" ng-click="checkout()" ng-disabled="!order.length">Checkout</span>
            </div>

          </div>
        
      </div>
    </div>
  </div>

</body>
{% endverbatim %}
</html>
